{
  {{ if .ID }}
    "id": {{ .ID }},
  {{ end }}

  {{ if .Username }}
    "username": "{{ .Username }}",
  {{ end }}

  {{ if .Phone }}
    "phone": "{{ .Phone }}",jwt_payload.json.tmpl
  {{ end }}

  {{ if .Email }}
    "email": "{{ .Email }}",
  {{ end }}

  {{ if .Additional }}
    "additional": {
        {{ range $key, $value := .Additional }}
           "{{ $key }}": {{ $value }},
        {{end}}
    }
  {{ end }}
}