version: '2.9'

services:
  aureole-tests:
    image: aureole-tests:latest
    container_name: aureole-tests
    depends_on:
      aureole:
        condition: service_healthy
    volumes:
      - ../:/app/tests/system
    networks:
      - default

  aureole:
    image: aureole:latest
    restart: on-failure
    container_name: aureole
    depends_on:
      postgres:
        condition: service_healthy
      smtp:
        condition: service_healthy
      twilio:
        condition: service_healthy
      social-auth:
        condition: service_healthy
    volumes:
      - ./config.yaml:/config.yaml
      {% for module in modules %}
      - {{ module.get('path') }}/resources/aureole:{{ module.get('res_path') }}
      {% endfor %}
    healthcheck:
      test: ["CMD", "wget", "-nv", "-t1", "--spider", "http://localhost:3000/ping"]
      start_period: 1s
      interval: 2s
      timeout: 2s
      retries: 5
    networks:
      - default

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    volumes:
      - ./psql-dbs.sql:/docker-entrypoint-initdb.d/1-databases.sql
      - ./psql-schemas.sql:/docker-entrypoint-initdb.d/2-databases.sql
    command: ["postgres", "-c", "log_statement=all", "-c", "log_connections=on"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      start_period: 1s
      interval: 2s
      timeout: 2s
      retries: 5
    networks:
      - default

  smtp:
    image: reachfive/fake-smtp-server:latest
    healthcheck:
      test: ["CMD", "wget", "-nv", "-t1", "--spider", "http://localhost:1080"]
      start_period: 1s
      interval: 2s
      timeout: 2s
      retries: 5
    networks:
      - default

  twilio:
    image: twilio-stub:latest
    volumes:
      - ./certs:/certs
    healthcheck:
      test: ["CMD", "wget", "-nv", "-t1", "--spider", "--no-check-certificate", "https://localhost:443/ping"]
      start_period: 1s
      interval: 2s
      timeout: 2s
      retries: 5
    networks:
      default:
        aliases:
          - api.twilio.com

  social-auth:
    image: social-auth-stub:latest
    container_name: social-auth
    volumes:
      - ./certs:/certs
    healthcheck:
      test: ["CMD", "wget", "-nv", "-t1", "--spider", "--no-check-certificate", "https://localhost:443/ping"]
      start_period: 1s
      interval: 2s
      timeout: 2s
      retries: 5
    networks:
      default:
        aliases:
          - accounts.google.com
          - oauth2.googleapis.com
          - appleid.apple.com
          - www.facebook.com
          - graph.facebook.com
          - oauth.vk.com
          - api.vk.com

networks:
  default: